[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/quietbacktrace"]
	path = vendor/plugins/quietbacktrace
	url = git://github.com/thoughtbot/quietbacktrace.git
