

 /*    Utility Toolbox (fonts, positoin, etc.)
 +-------------------------------------------------------------------------------------------------+
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */

.clearfix:after  { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix        { display:inline-block; }
.clearfix        { display:block; }
                 
.w100p           { width:100% !important; }
.w99p            { width:98% !important; }
.w98p            { width:98% !important; }
                 
.floatr          { float:right; display:inline; }
.floatl          { float:left; display:inline; }
.inline          { display:inline !important; }
.pointer         { cursor:pointer !important; }

.white           { color:#fff !important; }
.red             { color:red !important; }
.redbg           { background-color:red !important; }
                 
.vtop            { vertical-align:top !important; }
.vtop_all *      { vertical-align:top !important; }
.vmiddle         { vertical-align:middle !important; }
.vmiddle_all *   { vertical-align:middle !important; }
.vbottom         { vertical-align:bottom !important; }
.vbottom_all *   { vertical-align:bottom !important; }
.nowrap          { white-space:nowrap; }
                 
.left            { text-align:left !important; }
.center          { text-align:center !important; }
.right           { text-align:right !important; }
.bold            { font-weight:900 !important;}
.italic          { font-style:italic !important; }
                 
.fs9             { font-size:9px !important ; }
.fs10            { font-size:10px !important ; }
.fs11            { font-size:11px !important ; }
.fs12            { font-size:12px !important ; }
.fs13            { font-size:13px !important ; }
.fs14            { font-size:14px !important ; }
.fs15            { font-size:15px !important ; }
.fs16            { font-size:16px !important ; }
.fs17            { font-size:17px !important ; }
                 
.lh9             { line-height:9px !important ; }
.lh10            { line-height:10px !important ; }
.lh11            { line-height:11px !important ; }
.lh12            { line-height:12px !important ; }
.lh13            { line-height:13px !important ; }
.lh14            { line-height:14px !important ; }
.lh15            { line-height:14px !important ; }
.lh16            { line-height:14px !important ; }




 /*    Margins
 +-------------------------------------------------------------------------------------------------+
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */

.m0    { margin:0px !important; }
.m5    { margin:5px !important; }
.m10   { margin:10px !important; }
.m20   { margin:20px !important; }
.m30   { margin:30px !important; }
.m40   { margin:40px !important; }
.m50   { margin:50px !important; }
.m60   { margin:60px !important; }
.m70   { margin:70px !important; }
.m80   { margin:80px !important; }
.m90   { margin:90px !important; }

.m100   { margin:100px !important; }
.m110   { margin:110px !important; }
.m120   { margin:120px !important; }
.m130   { margin:130px !important; }
.m140   { margin:140px !important; }
.m150   { margin:150px !important; }
.m160   { margin:160px !important; }
.m170   { margin:170px !important; }
.m180   { margin:180px !important; }
.m190   { margin:190px !important; }


.mt0    { margin-top:0px !important; }
.mt5    { margin-top:5px !important; }
.mt10   { margin-top:10px !important; }
.mt20   { margin-top:20px !important; }
.mt30   { margin-top:30px !important; }
.mt40   { margin-top:40px !important; }
.mt50   { margin-top:50px !important; }
.mt60   { margin-top:60px !important; }
.mt70   { margin-top:70px !important; }
.mt80   { margin-top:80px !important; }
.mt90   { margin-top:90px !important; }

.mt100   { margin-top:100px !important; }
.mt110   { margin-top:110px !important; }
.mt120   { margin-top:120px !important; }
.mt130   { margin-top:130px !important; }
.mt140   { margin-top:140px !important; }
.mt150   { margin-top:150px !important; }
.mt160   { margin-top:160px !important; }
.mt170   { margin-top:170px !important; }
.mt180   { margin-top:180px !important; }
.mt190   { margin-top:190px !important; }

.mt200   { margin-top:200px !important; }
.mt210   { margin-top:210px !important; }
.mt220   { margin-top:220px !important; }
.mt230   { margin-top:230px !important; }
.mt240   { margin-top:240px !important; }
.mt250   { margin-top:250px !important; }
.mt260   { margin-top:260px !important; }
.mt270   { margin-top:270px !important; }
.mt280   { margin-top:280px !important; }
.mt290   { margin-top:290px !important; }


.mr0    { margin-right:0px !important; }
.mr5    { margin-right:5px !important; }
.mr10   { margin-right:10px !important; }
.mr20   { margin-right:20px !important; }
.mr30   { margin-right:30px !important; }
.mr40   { margin-right:40px !important; }
.mr50   { margin-right:50px !important; }
.mr60   { margin-right:60px !important; }
.mr70   { margin-right:70px !important; }
.mr80   { margin-right:80px !important; }
.mr90   { margin-right:90px !important; }

.mr100   { margin-right:100px !important; }
.mr110   { margin-right:110px !important; }
.mr120   { margin-right:120px !important; }
.mr130   { margin-right:130px !important; }
.mr140   { margin-right:140px !important; }
.mr150   { margin-right:150px !important; }
.mr160   { margin-right:160px !important; }
.mr170   { margin-right:170px !important; }
.mr180   { margin-right:180px !important; }
.mr190   { margin-right:190px !important; }

.mr200   { margin-right:200px !important; }
.mr210   { margin-right:210px !important; }
.mr220   { margin-right:220px !important; }
.mr230   { margin-right:230px !important; }
.mr240   { margin-right:240px !important; }
.mr250   { margin-right:250px !important; }
.mr260   { margin-right:260px !important; }
.mr270   { margin-right:270px !important; }
.mr280   { margin-right:280px !important; }
.mr290   { margin-right:290px !important; }


.mb0    { margin-bottom:0px !important; }
.mb5    { margin-bottom:5px !important; }
.mb10   { margin-bottom:10px !important; }
.mb20   { margin-bottom:20px !important; }
.mb30   { margin-bottom:30px !important; }
.mb40   { margin-bottom:40px !important; }
.mb50   { margin-bottom:50px !important; }
.mb60   { margin-bottom:60px !important; }
.mb70   { margin-bottom:70px !important; }
.mb80   { margin-bottom:80px !important; }
.mb90   { margin-bottom:90px !important; }

.mb100   { margin-bottom:100px !important; }
.mb110   { margin-bottom:110px !important; }
.mb120   { margin-bottom:120px !important; }
.mb130   { margin-bottom:130px !important; }
.mb140   { margin-bottom:140px !important; }
.mb150   { margin-bottom:150px !important; }
.mb160   { margin-bottom:160px !important; }
.mb170   { margin-bottom:170px !important; }
.mb180   { margin-bottom:180px !important; }
.mb190   { margin-bottom:190px !important; }

.mb200   { margin-bottom:200px !important; }
.mb210   { margin-bottom:210px !important; }
.mb220   { margin-bottom:220px !important; }
.mb230   { margin-bottom:230px !important; }
.mb240   { margin-bottom:240px !important; }
.mb250   { margin-bottom:250px !important; }
.mb260   { margin-bottom:260px !important; }
.mb270   { margin-bottom:270px !important; }
.mb280   { margin-bottom:280px !important; }
.mb290   { margin-bottom:290px !important; }


.ml0    { margin-left:0px !important; }
.ml5    { margin-left:5px !important; }
.ml10   { margin-left:10px !important; }
.ml20   { margin-left:20px !important; }
.ml30   { margin-left:30px !important; }
.ml40   { margin-left:40px !important; }
.ml50   { margin-left:50px !important; }
.ml60   { margin-left:60px !important; }
.ml70   { margin-left:70px !important; }
.ml80   { margin-left:80px !important; }
.ml90   { margin-left:90px !important; }

.ml100   { margin-left:100px !important; }
.ml110   { margin-left:110px !important; }
.ml120   { margin-left:120px !important; }
.ml130   { margin-left:130px !important; }
.ml140   { margin-left:140px !important; }
.ml150   { margin-left:150px !important; }
.ml160   { margin-left:160px !important; }
.ml170   { margin-left:170px !important; }
.ml180   { margin-left:180px !important; }
.ml190   { margin-left:190px !important; }

.ml200   { margin-left:200px !important; }
.ml210   { margin-left:210px !important; }
.ml220   { margin-left:220px !important; }
.ml230   { margin-left:230px !important; }
.ml240   { margin-left:240px !important; }
.ml250   { margin-left:250px !important; }
.ml260   { margin-left:260px !important; }
.ml270   { margin-left:270px !important; }
.ml280   { margin-left:280px !important; }
.ml290   { margin-left:290px !important; }



 /*    Padding
 +-------------------------------------------------------------------------------------------------+
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */

.p0    { padding:0px !important; }
.p5    { padding:5px !important; }
.p10   { padding:10px !important; }
.p20   { padding:20px !important; }
.p30   { padding:30px !important; }
.p40   { padding:40px !important; }
.p50   { padding:50px !important; }
.p60   { padding:60px !important; }
.p70   { padding:70px !important; }
.p80   { padding:80px !important; }
.p90   { padding:90px !important; }

.p100   { padding:100px !important; }
.p110   { padding:110px !important; }
.p120   { padding:120px !important; }
.p130   { padding:130px !important; }
.p140   { padding:140px !important; }
.p150   { padding:150px !important; }
.p160   { padding:160px !important; }
.p170   { padding:170px !important; }
.p180   { padding:180px !important; }
.p190   { padding:190px !important; }


.pt0    { padding-top:0px !important; }
.pt5    { padding-top:5px !important; }
.pt10   { padding-top:10px !important; }
.pt20   { padding-top:20px !important; }
.pt30   { padding-top:30px !important; }
.pt40   { padding-top:40px !important; }
.pt50   { padding-top:50px !important; }
.pt60   { padding-top:60px !important; }
.pt70   { padding-top:70px !important; }
.pt80   { padding-top:80px !important; }
.pt90   { padding-top:90px !important; }

.pt100   { padding-top:100px !important; }
.pt110   { padding-top:110px !important; }
.pt120   { padding-top:120px !important; }
.pt130   { padding-top:130px !important; }
.pt140   { padding-top:140px !important; }
.pt150   { padding-top:150px !important; }
.pt160   { padding-top:160px !important; }
.pt170   { padding-top:170px !important; }
.pt180   { padding-top:180px !important; }
.pt190   { padding-top:190px !important; }

.pt200   { padding-top:200px !important; }
.pt210   { padding-top:210px !important; }
.pt220   { padding-top:220px !important; }
.pt230   { padding-top:230px !important; }
.pt240   { padding-top:240px !important; }
.pt250   { padding-top:250px !important; }
.pt260   { padding-top:260px !important; }
.pt270   { padding-top:270px !important; }
.pt280   { padding-top:280px !important; }
.pt290   { padding-top:290px !important; }


.pr0    { padding-right:0px !important; }
.pr5    { padding-right:5px !important; }
.pr10   { padding-right:10px !important; }
.pr20   { padding-right:20px !important; }
.pr30   { padding-right:30px !important; }
.pr40   { padding-right:40px !important; }
.pr50   { padding-right:50px !important; }
.pr60   { padding-right:60px !important; }
.pr70   { padding-right:70px !important; }
.pr80   { padding-right:80px !important; }
.pr90   { padding-right:90px !important; }

.pr100   { padding-right:100px !important; }
.pr110   { padding-right:110px !important; }
.pr120   { padding-right:120px !important; }
.pr130   { padding-right:130px !important; }
.pr140   { padding-right:140px !important; }
.pr150   { padding-right:150px !important; }
.pr160   { padding-right:160px !important; }
.pr170   { padding-right:170px !important; }
.pr180   { padding-right:180px !important; }
.pr190   { padding-right:190px !important; }

.pr200   { padding-right:200px !important; }
.pr210   { padding-right:210px !important; }
.pr220   { padding-right:220px !important; }
.pr230   { padding-right:230px !important; }
.pr240   { padding-right:240px !important; }
.pr250   { padding-right:250px !important; }
.pr260   { padding-right:260px !important; }
.pr270   { padding-right:270px !important; }
.pr280   { padding-right:280px !important; }
.pr290   { padding-right:290px !important; }


.pb0    { padding-bottom:0px !important; }
.pb5    { padding-bottom:5px !important; }
.pb10   { padding-bottom:10px !important; }
.pb20   { padding-bottom:20px !important; }
.pb30   { padding-bottom:30px !important; }
.pb40   { padding-bottom:40px !important; }
.pb50   { padding-bottom:50px !important; }
.pb60   { padding-bottom:60px !important; }
.pb70   { padding-bottom:70px !important; }
.pb80   { padding-bottom:80px !important; }
.pb90   { padding-bottom:90px !important; }

.pb100   { padding-bottom:100px !important; }
.pb110   { padding-bottom:110px !important; }
.pb120   { padding-bottom:120px !important; }
.pb130   { padding-bottom:130px !important; }
.pb140   { padding-bottom:140px !important; }
.pb150   { padding-bottom:150px !important; }
.pb160   { padding-bottom:160px !important; }
.pb170   { padding-bottom:170px !important; }
.pb180   { padding-bottom:180px !important; }
.pb190   { padding-bottom:190px !important; }

.pb200   { padding-bottom:200px !important; }
.pb210   { padding-bottom:210px !important; }
.pb220   { padding-bottom:220px !important; }
.pb230   { padding-bottom:230px !important; }
.pb240   { padding-bottom:240px !important; }
.pb250   { padding-bottom:250px !important; }
.pb260   { padding-bottom:260px !important; }
.pb270   { padding-bottom:270px !important; }
.pb280   { padding-bottom:280px !important; }
.pb290   { padding-bottom:290px !important; }


.pl0    { padding-left:0px !important; }
.pl5    { padding-left:5px !important; }
.pl10   { padding-left:10px !important; }
.pl20   { padding-left:20px !important; }
.pl30   { padding-left:30px !important; }
.pl40   { padding-left:40px !important; }
.pl50   { padding-left:50px !important; }
.pl60   { padding-left:60px !important; }
.pl70   { padding-left:70px !important; }
.pl80   { padding-left:80px !important; }
.pl90   { padding-left:90px !important; }

.pl100   { padding-left:100px !important; }
.pl110   { padding-left:110px !important; }
.pl120   { padding-left:120px !important; }
.pl130   { padding-left:130px !important; }
.pl140   { padding-left:140px !important; }
.pl150   { padding-left:150px !important; }
.pl160   { padding-left:160px !important; }
.pl170   { padding-left:170px !important; }
.pl180   { padding-left:180px !important; }
.pl190   { padding-left:190px !important; }

.pl200   { padding-left:200px !important; }
.pl210   { padding-left:210px !important; }
.pl220   { padding-left:220px !important; }
.pl230   { padding-left:230px !important; }
.pl240   { padding-left:240px !important; }
.pl250   { padding-left:250px !important; }
.pl260   { padding-left:260px !important; }
.pl270   { padding-left:270px !important; }
.pl280   { padding-left:280px !important; }
.pl290   { padding-left:290px !important; }



 /*    Widths & Heights
 +-------------------------------------------------------------------------------------------------+
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */
.h0    { height:0px !important; }
.h5    { height:5px !important; }
.h10   { height:10px !important; }
.h20   { height:20px !important; }
.h30   { height:30px !important; }
.h40   { height:40px !important; }
.h50   { height:50px !important; }
.h60   { height:60px !important; }
.h70   { height:70px !important; }
.h80   { height:80px !important; }
.h90   { height:90px !important; }

.h100   { height:100px !important; }
.h110   { height:110px !important; }
.h120   { height:120px !important; }
.h130   { height:130px !important; }
.h140   { height:140px !important; }
.h150   { height:150px !important; }
.h160   { height:160px !important; }
.h170   { height:170px !important; }
.h180   { height:180px !important; }
.h190   { height:190px !important; }

.h200   { height:200px !important; }
.h210   { height:210px !important; }
.h220   { height:220px !important; }
.h230   { height:230px !important; }
.h240   { height:240px !important; }
.h250   { height:250px !important; }
.h260   { height:260px !important; }
.h270   { height:270px !important; }
.h280   { height:280px !important; }
.h290   { height:290px !important; }

.h300   { height:300px !important; }
.h310   { height:310px !important; }
.h320   { height:320px !important; }
.h330   { height:330px !important; }
.h340   { height:340px !important; }
.h350   { height:350px !important; }
.h360   { height:360px !important; }
.h370   { height:370px !important; }
.h380   { height:380px !important; }
.h390   { height:390px !important; }

.h400   { height:400px !important; }
.h410   { height:410px !important; }
.h420   { height:420px !important; }
.h430   { height:430px !important; }
.h440   { height:440px !important; }
.h450   { height:450px !important; }
.h460   { height:460px !important; }
.h470   { height:470px !important; }
.h480   { height:480px !important; }
.h490   { height:490px !important; }

.h500   { height:500px !important; }
.h510   { height:510px !important; }
.h520   { height:520px !important; }
.h530   { height:530px !important; }
.h540   { height:540px !important; }
.h550   { height:550px !important; }
.h560   { height:560px !important; }
.h570   { height:570px !important; }
.h580   { height:580px !important; }
.h590   { height:590px !important; }



.w0    { width:0px !important; }
.w5    { width:5px !important; }
.w10   { width:10px !important; }
.w20   { width:20px !important; }
.w30   { width:30px !important; }
.w40   { width:40px !important; }
.w50   { width:50px !important; }
.w60   { width:60px !important; }
.w70   { width:70px !important; }
.w80   { width:80px !important; }
.w90   { width:90px !important; }

.w100   { width:100px !important; }
.w110   { width:110px !important; }
.w120   { width:120px !important; }
.w130   { width:130px !important; }
.w140   { width:140px !important; }
.w150   { width:150px !important; }
.w160   { width:160px !important; }
.w170   { width:170px !important; }
.w180   { width:180px !important; }
.w190   { width:190px !important; }

.w200   { width:200px !important; }
.w210   { width:210px !important; }
.w220   { width:220px !important; }
.w230   { width:230px !important; }
.w240   { width:240px !important; }
.w250   { width:250px !important; }
.w260   { width:260px !important; }
.w270   { width:270px !important; }
.w280   { width:280px !important; }
.w290   { width:290px !important; }

.w300   { width:300px !important; }
.w310   { width:310px !important; }
.w320   { width:320px !important; }
.w330   { width:330px !important; }
.w340   { width:340px !important; }
.w350   { width:350px !important; }
.w360   { width:360px !important; }
.w370   { width:370px !important; }
.w380   { width:380px !important; }
.w390   { width:390px !important; }

.w400   { width:400px !important; }
.w410   { width:410px !important; }
.w420   { width:420px !important; }
.w430   { width:430px !important; }
.w440   { width:440px !important; }
.w450   { width:450px !important; }
.w460   { width:460px !important; }
.w470   { width:470px !important; }
.w480   { width:480px !important; }
.w490   { width:490px !important; }

.w500   { width:500px !important; }
.w510   { width:510px !important; }
.w520   { width:520px !important; }
.w530   { width:530px !important; }
.w540   { width:540px !important; }
.w550   { width:550px !important; }
.w560   { width:560px !important; }
.w570   { width:570px !important; }
.w580   { width:580px !important; }
.w590   { width:590px !important; }


