
<tr>
  <th>Email:</th>
  <td><%= u.text_field 'email', :size => 30 %></td>
</tr>
<tr>
  <th>Password:</th>
  <td><%= u.password_field 'password', :size => 30 %></td>
</tr>
<tr>
  <th>Password (again):</th>
  <td><%= u.password_field 'password_confirmation', :size => 30 %></td>
</tr>

