
<div id="welcome_box" class="centered">
  <div id="welcome_header" class="site_yellow">Welcome to your <br />HomeMarks start page.</div>
  <div id="welcome_message">Get started by creating your first column, then new boxes within it. If you are unsure how to do this, please take a moment to read over the <%= link_to 'documentation and help', help_url %> section.</div>
</div>

