
<% @page_title = "#{HmConfig.app[:dotcom]} - Forgotten Password" -%>

<h1>Forgotten Password</h1>

<p>Enter your email address in the field below and click 'Reset Password' to have instructions on how to reset your forgotten password.</p>
<br />

<% form_remote_tag :url => {:action => 'forgot_password'}, :after => "remoteFormLoading(this)", :html => {:id => 'forgotpw_form'} do |u| %>
  <table>
    <tr>
      <th class="label"><label>Email Address:</label></th>
      <td class="value"><%= text_field_tag 'user[email]', params[:email], :size => 30, :id => 'forgotpw_email' %></td>
    </tr>
    <tr>
      <td></td>
      <td class="vbottom_all">
        <div class="value_buts">
          <%= button_to_function '« Cancel', redirect_function(index_url), :id => 'forgotpw_cancel' %> 
          <%= submit_tag 'Reset Password', :id => 'forgotpw_submit' %>
        </div>
        <div class="value_loads"><span id="form_loading"></span></div>
      </td>
    </tr>
  </table>
<% end %>
