
<% title = 'Signup' %>

<h1>HomeMarks Signup</h1>

<p>Thanks for choosing to try out HomeMarks. To create your account, please enter your email address and choose a password. Your password must be a <span class="site_yellow">minimum of 5 characters</span> in length. After clicking signup, a confirmation email will be sent to you with a link to activate your account.</p>

<% form_for :user, :id => 'signup_form' do |u| %>
<table class="ajaxform">
  <%= render :partial => 'edit', :locals => {:u => u} %>
  <%= render :partial => 'password', :locals => {:u => u} %>
  <tr>
    <td></td>
    <td>
      <input class="ajaxform_link" type="button" value="Cancel" />
      <%= submit_tag 'Signup' %>
      <span id="form_loading"></span>
    </td>
  </tr>
</table>
<% end %>
