
<% title 'HomeMarks Signup' %>

<h1><%= yield(:title) %></h1>

<p>
  Thanks for choosing to try out HomeMarks. To create your account, please enter your email address and choose a
  password. Your password must be a <span class="site_yellow">minimum of 4 characters</span> in length. After clicking
  signup, a confirmation email will be sent to you with a link to activate your account.
</p>

<% form_for @user, :html => {:id => 'signup_form'} do |u| %>
<table class="ajaxform">
  <%= render :partial => 'form', :locals => {:u => u} %>
  <tr>
    <td></td>
    <td class="vbottom_all">
      <%= submit_tag 'Create Account' %>
      <span id="form_loading"></span>
    </td>
  </tr>
</table>
<% end %>
