
<% @bookmark_row = bookmark_row -%>
<tr class="bookmark_row">
  <td ><%= text_field 'bookmark_row[]', 'name', :size => 20, :class => 'bookmark_name_field' %></td>
  <td ><%= text_field 'bookmark_row[]', 'url', :size => 55, :class => 'bookmark_url_field' %></td>
</tr>
