
<h1>Welcome to HomeMarks</h1>

<p>
  If you have gotten this far you are probably OK. But if you have not already done so, please take a look at the README file.
</p>


<a name="about"></a>
<h2>About</h2>

<p>
  <%= image_tag 'railslogo.png', :class => 'floatl', :style => 'margin: 2px 15px 0 5px;' %>
  HomeMarks was built by  using the <a href="http://rubyonrails.org/">Ruby on Rails</a> framework with a heavy emphasis on 
  AJAX and Dynamic HTML, using both the Prototype and Scriptacoulous JavaScript libraries. It was made by me, 
  <a href="http://www.metaskills.net/colophon">Ken Collins</a>, as my first pet project while learning the Rails framework 
  (pre 1.0) and has now been refactored for the release of Rails 2.1. I hope that you find it useful. 
</p>

<p>
  HomeMarks is not only a <a href="http://homemarks.com/">free web service</a>, but it is also free to download and run on your 
  own machine, modify, etc. HomeMarks has a MIT license and can be obtained from <a href="http://github.com/metaskills/">my 
  Github account</a> or using the direct Github tarball link below. I always appreciate feedback, so if you would like, please 
  contact me using the email provided in the README file included in this download. There are also some important notes in there 
  on how to get the app up and running.
</p>

<div id="site_download" class="center mt20">
  <a href="http://github.com/metaskills/homemarks/tarball/master">
    <%= image_tag 'download.png', :border => 'none', :alt => 'Download latest HomeMarks app.' %><br />
    Download Latest HomeMarks
  </a>
</div>


