
Dear Former <%= @app_dotcom %> User,

At your request, we have permanently deleted your account. If you have 
any questions please use our online support form.

<%= @support_url %>

 
 - Thanks,
   <%= @app_dotcom %>



